* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Media Query to use personalized font on application */
@font-face {
    font-family: visitor;
    src: url(../css/fonts/visitor1.ttf);
}

:root {
    /*Using neon arcade color palette https://www.color-hex.com/color-palette/28088*/
    --primary-color: rgb(103, 0, 255);
    --secondary-color: rgb(138, 0, 255);
    --tertiary-color: rgb(183, 0, 255);
    --quaternary-color: rgb(218, 0, 255);
    --quinary-color: rgb(245, 0, 255);
    --neutral-color: rgba(255, 255, 255, 0.85);
    --dark-color: rgba(2, 2, 2, 0.842);
    background-image: url(../images/webpage-background.jpg);
    font-family: visitor;
    font-size: 14px;
    color: var(--secondary-color);
}

span {
    color: var(--quinary-color);
    font-weight: 900;
}

button {
    font-family: visitor;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

p {
    font-size: calc(1.2em + 1vw);
    line-height: calc(1em + 1vw);
}

.box-glow {
    /* Used glow generator to generate glow effect https://cssbud.com/css-generator/css-glow-generator/ */
    -webkit-box-shadow:0px 0px 58px 7px var(--primary-color);
    -moz-box-shadow: 0px 0px 58px 7px var(--primary-color);
    box-shadow: 0px 0px 58px 7px var(--primary-color);
}

.container {
    width: 85%;
    height: 75%;
    background-color: var(--dark-color);
    border-radius: 10%;
    border: solid var(--primary-color);
    padding: calc(2em + 1vw);
}

.container h1 {
    font-size: calc(5em + 1vw);
    color: var(--primary-color);
    text-shadow: calc(.1em + .1vw) calc(.1em + .1vw) var(--quaternary-color);
}

.flex-box {
    display: flex;
    flex-direction: column;
    row-gap: calc(1em + 1vw);
    text-align: center;
}

.btns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-size: calc(1.5em + 1vw);
}

.btn-box {
    padding: 20px;
    margin: 12px 10px;
    border: 2px solid var(--secondary-color);
    border-radius: 10%;
    color: var(--neutral-color);
    background-image: linear-gradient(180deg, var(--primary-color), var(--tertiary-color));
}

.btn-glow {
    -webkit-box-shadow:0px 0px 7px 7px var(--primary-color);
    -moz-box-shadow: 0px 0px 7px 7px var(--primary-color);
    box-shadow: 0px 0px 7px 7px var(--primary-color);
}

.body-footer {
    text-align: center;
    padding-bottom: calc(1em + 1vw);
}

/* Game pages */

#landing-page {
    display: flex;
}

#quiz-page {
    display: none;
}

#game-over-page {
    display: none;
}


/* Quiz CSS */
.game-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.game-timer {
    display: flex;
    justify-content: space-around;
}

#question {
    font-size: calc(1.5em + 1vw);
}

.option-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
    font-size: calc(1em + 1vw);
}

.option {
    padding: 10px;
    margin: 5px;
    width: 100%;
    border: 2px solid var(--secondary-color);
    border-radius: 10%;
    color: var(--neutral-color);
    background-image: linear-gradient(180deg, var(--primary-color), var(--tertiary-color));
    font-size: calc(1.2em + 1vw);
    line-height: calc(1em + 1vw);
}

.option-glow {
    -webkit-box-shadow:0px 0px 2px 2px var(--primary-color);
    -moz-box-shadow: 0px 0px 2px 2px var(--primary-color);
    box-shadow: 0px 0px 2px 2px var(--primary-color);
}

/* Answer results */
#answer-container {
    display: none;
} 


/*media queries start*/
/*small laptops*/
@media screen and (min-width: 769px) {
    span:hover {
        color: var(--neutral-color);
    }
    .container {
        width: 75%;
    }
    .container h1:hover{
        color: var(--quaternary-color);
        text-shadow: calc(.1em + .1vw) calc(.1em + .1vw) var(--primary-color);
    }

    .btn-box:hover {
        border: 2px solid var(--quaternary-color);
        color: var(--primary-color);
        background-image: linear-gradient(180deg, var(--tertiary-color), var(--quinary-color));
        cursor: pointer;
    }

    .btn-glow:hover {
        -webkit-box-shadow:0px 0px 7px 7px var(--quinary-color);
        -moz-box-shadow: 0px 0px 7px 7px var(--quinary-color);
        box-shadow: 0px 0px 7px 7px var(--quinary-color);
    }

    .option:hover {
        border: 2px solid var(--quaternary-color);
        color: var(--primary-color);
        background-image: linear-gradient(180deg, var(--tertiary-color), var(--quinary-color));
        cursor: pointer;
    }

    .option-glow:hover {
        -webkit-box-shadow:0px 0px 7px 7px var(--quinary-color);
        -moz-box-shadow: 0px 0px 7px 7px var(--quinary-color);
        box-shadow: 0px 0px 7px 7px var(--quinary-color);
    }

    #question:hover {
        color: var(--quaternary-color);
    }
   
}